<div class="task">
  <h4>{{ title }}</h4>
  <p>{{ description }}</p>
  <select [(ngModel)]="status" (ngModelChange)="updateStatus()">
    <option value="To Do">To Do</option>
    <option value="In Progress">In Progress</option>
    <option value="Done">Done</option>
  </select>
  <button (click)="onDelete()" class="delete-btn"><img src="../../../assets/delete.png" class="hola"
      alt="boton"></button>
  <button (click)="onEdit()" class="edit-btn"><img src="../../../assets/edit.png" class="hola" alt="boton"></button>
</div>