<div class="container">
  <h1>{{ title }}</h1>

  <!-- Task Form -->
  <app-task-form (submitTask)="addTask($event)"></app-task-form>

  <!-- Search Bar -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search tasks..." class="search-input" />
  </div>

  <!-- Task Sections -->
  <div class="tasks">
    <div class="section to-do">
      <h3>To Do</h3>
      <app-todo *ngFor="let todo of todos | filterTodos: 'To Do' | search: searchTerm; index as id "
        [description]="todo.description" [title]="todo.title" [status]="todo.status" [id]="todo.id"
        (deleteTask)="deleteTask($event)" (editTask)="startEditing($event)"
        (updatedTask)="updateTaskStatus(id, $event)"></app-todo>
    </div>
    <div class="section in-progress">
      <h3>In Progress</h3>
      <app-todo *ngFor="let todo of todos | filterTodos: 'In Progress' | search: searchTerm; index as id"
        [description]="todo.description" [title]="todo.title" [status]="todo.status" [id]="todo.id"
        (deleteTask)="deleteTask($event)" (editTask)="startEditing($event)"
        (updatedTask)="updateTaskStatus(id, $event)"></app-todo>
    </div>
    <div class="section done">
      <h3>Done</h3>
      <app-todo *ngFor="let todo of todos | filterTodos: 'Done' | search: searchTerm; index as id"
        [description]="todo.description" [title]="todo.title" [status]="todo.status" [id]="todo.id"
        (deleteTask)="deleteTask($event)" (updatedTask)="updateTaskStatus(id, $event)"
        (editTask)="startEditing($event)"></app-todo>
    </div>
  </div>


  <!--Edit task Form-->
  <div *ngIf="editingTask" class="edit-form">
    <div *ngIf="editingTask" class="edit-form">
      <h2>Edit Task</h2>
      <form [formGroup]="editFormGroup" (ngSubmit)="onUpdate()">
        <div>
          <label for="title">Title</label>
          <input id="title" formControlName="title" [disabled]="isDeleting" />
          <div *ngIf="editFormGroup.get('title')?.invalid && editFormGroup.get('title')?.touched" class="error">
            Title must be at least 3 characters.
          </div>
        </div>
        <div>
          <label for="description">Description</label>
          <input id="description" formControlName="description" [disabled]="isDeleting" />
          <div *ngIf="editFormGroup.get('description')?.invalid && editFormGroup.get('description')?.touched"
            class="error">
            Description must be at least 5 characters.
          </div>
        </div>
        <div>
          <label for="status">Status</label>
          <select formControlName="status" [disabled]="isDeleting">
            <option value="To Do">To Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
          </select>
        </div>
        <button type="submit" [disabled]="editFormGroup.invalid || isDeleting" class="save-btn">Update</button>
        <button type="button" class="cancel-btn" (click)="cancelEditing()">Cancel</button>
      </form>
    </div>