<div class="task">
  <div class="wel">
    <h1>{{ title }}</h1>
    <img class="ima" src="assets/avatar.png" alt="avatar" />
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="us">
      <label for="user">User</label>
      <input id="user" type="text" formControlName="user" placeholder="Enter your user"
        [class.invalid]="loginForm.get('user')?.invalid && loginForm.get('user')?.touched" />
      <div *ngIf="loginForm.get('user')?.invalid && loginForm.get('user')?.touched" class="error">
        User is required
      </div>

      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" placeholder="Enter your password"
        [class.invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        Password is required
      </div>
    </div>

    <div class="in">
      <button type="submit" [disabled]="loginForm.invalid">Log In</button>
      <a href="**">Sign Up</a>
    </div>
  </form>
</div>