.error {
    color: red;
  }

  /* General Styling */
body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

/* Task Form */
.task {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.task-form input,
.task-form textarea,
.task-form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.task-form button {
  background-color: #029121;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.task-form button:hover {
  background-color: #0baf2e;
}

/* Search Input */
.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  width: 80%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Task Section */
.tasks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.section {
  width: 30%;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

/* Individual Task Styling */
.task {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.task-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.task-status {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

/* Button Styling */
.delete-btn {
  background-color: #dd5349;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn:hover {
  background-color: #e8594f;
}

/* Color Customization for Task Status */
.to-do {
  border-left: 30px solid #028391;
}

.in-progress {
  border-left:  30px  solid #F3C13D;
}

.done {
  border-left:  30px  solid #999;
}