<div class="container">
  <div class="edit-form">
    <h2>Edit Task</h2>
    <form [formGroup]="editFormGroup" (ngSubmit)="onUpdate()">
      <div>
        <label for="title">Title</label>
        <input id="title" formControlName="title" />
        <div *ngIf="editFormGroup.get('title')?.invalid && editFormGroup.get('title')?.touched" class="error">
          Title must be at least 3 characters.
        </div>
      </div>
      <div>
        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
        <div *ngIf="editFormGroup.get('description')?.invalid && editFormGroup.get('description')?.touched"
          class="error">
          Description must be at least 5 characters.
        </div>
      </div>
      <div>
        <label for="status">Status</label>
        <select formControlName="status">
          <option value="To Do">To Do</option>
          <option value="In Progress">In Progress</option>
          <option value="Done">Done</option>
        </select>
      </div>
      <button type="submit" class="save-btn" (click)="onUpdate()">Update</button>
      <button type="button" class="cancel-btn" (click)="cancelEditing()">Cancel</button>
    </form>
  </div>
</div>